.card-container{
    padding: 1rem;
    /* border-radius: 6px; */
    /* background-color: grey; */
    margin: 0 auto;
    
}

.wrapper{
    background-color: gray;
    border-radius: 12px;
    max-width: 50%;
    display: inline-block;
}

.details {
    background-color: white;
    border: 1px solid gray;
    border-width: 3px;
}